<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docu Flow</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/sign_up.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
</head>

<body>
    <img src="/static/images_sign/sign_background.png" class="sign_background"/>

    <section class="sign_in_form">
        <h1>Вхід або Реєстрація</h1>
        <div class="sign_buttons">
            <a class="sign_up_button">Реєстрація</a>
            <a class="sign_in_button" href="/sign_in">Увійти</a>
        </div>
        <div class="sign_inputs">
            <div class="sign_input">
                <p class="sign_input_title">
                    <img src="/static/images_sign/name_icon.png">
                    Ваше ім’я
                </p>
                <input type="text" placeholder="Ім’я"/>
            </div>
            <div class="sign_input">
                <p class="sign_input_title">
                    <img src="/static/images_sign/name_icon.png">
                    Ваше прізвище
                </p>
                <input type="text" placeholder="Прізвище"/>
            </div>
        </div>
        <div class="sign_inputs">
            <div class="sign_input">
                <p class="sign_input_title">
                    <img src="/static/images_sign/email_icon.png">
                    Пошта
                </p>
                <input type="email" placeholder="Пошта"/>
            </div>
            <div class="sign_input">
                <p class="sign_input_title">
                    <img src="/static/images_sign/country_icon.png">
                    Вибір країни
                </p>
                <select class="select">
                    <option disabled selected>Країна</option>
                    <option value="ua">Україна</option>
                    <option value="de">Німеччина</option>
                    <option value="fr">Франція</option>
                    <option value="us">Америка</option>
                    <option value="cn">Китай</option>
                </select>
            </div>
        </div>
        <div class="sign_inputs">
            <div class="sign_input">
                <p class="sign_input_title">
                    <img src="/static/images_sign/password_icon.png">
                    Пароль
                </p>
                <input type="password" placeholder="Пароль"/>
            </div>
            <div class="sign_input">
                <p class="sign_input_title">
                    <img src="/static/images_sign/password_icon.png">
                    Підтвердження паролю
                </p>
                <input type="password" placeholder="Пароль"/>
            </div>
        </div>

        <div class="sign_in_buttons">
            <button class="sign_in_button_2">Увійти</button>
            <a class="sign_in_with_google">
                <img src="/static/images_sign/google_icon.png">
                Google
            </a>
        </div>
    </section>

</body>

</html>